1. CREAT 6X6 ORDER MATRIX USING  LIST COMPREHENSION MATHOD AND ALL MATRIX  VALUE MUST BE ODD NUMBER REPETATION ALLOWED

In [29]:
matrix=[[i for i in range(12) if (i%2!=0)] for j in range(6)]
matrix

[[1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11]]

1. CREAT 16X16 ORDER MATRIX USING  LIST COMPREHENSION MATHOD AND ALL MATRIX  VALUE MUST BE ODD NUMBER REPETATION ALLOWED

In [31]:
matrix=[[i for i in range(32) if (i%2!=0)] for j in range(16)]
matrix

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [39]:
list1=[1,2,3,4,5]
list1.append([6,7,8,9])
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [44]:
list=[1,2,3,4,1,5]
print(list.count(1))

2

In [45]:
list=[1,2,3,4,5]
list.extend([6,7,8,9])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list=[1,2,3,4,5]
print(list.index(5))

4

In [72]:
list=[1,2,3,4,5]
list.insert(0,7)
print(list)

[7, 1, 2, 3, 4, 5]

In [69]:
list=[1,2,3,4,5]
print(list.pop(1))

2

In [78]:
list=[1,2,3,4,5,6,7,8,9,10,5]
print(list.remove(5))
print(list.remove(5))
print(list)

None
None
[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [81]:
list=[1,2,3,4,5,6,7,8,9,10,5]
list.sort()
list

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10,5]
print()

In [91]:
mat=[]
for i in range(16):
    mat.append([])
    for j in range(16):
        mat[i].append(j)
mat

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [7]:
class_A=set()
class_B=set()
class_c=set()
for i in range(35,60):
    class_A.add(i)
for j in range(40,75):
    class_B.add(j)
for k in range(50,99):
    class_c.add(k)

total1=class_A.intersection(class_B)
print(total1)
Total=total1.intersection(class_c)
print(Total)

{40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59}
{50, 51, 52, 53, 54, 55, 56, 57, 58, 59}

Assignment on file handaling

 1.Write a python program to fetch only Email ID from text file  which include following fields -:
i)Nameii)Mobile Numberiii)Roll Numberiv)Email ID

In [90]:
with open("file1/a.txt","w+") as file:
    for i in range(4):
        i=input("Enter student information")
        file.write(i)

print(file)

with open("file1/a.txt","r") as file:
    file.seek(26) #the seek function is used to move the file pointer to the specified position of the file
    sum=file.read()

    print(sum)
    

# Name,Rollnumber,mobilenumber,EmailID

<_io.TextIOWrapper name='file1/a.txt' mode='w+' encoding='cp1252'>

2.Write a python program to find the intersection of elements from two list.

In [65]:
def intersection(list1,list2):
    list3=[value for value in list1 if value in list2]
    return list3
list1=[1,2,3,4]
list2=[1,2,9,8,7,5]
print(intersection(list1,list2))

[1, 2]

3.suppose a CSV file ‘student.csv’ is already available to you with the following records. write a python program to read this csv file and display its contents on the screen.Rollno, name, class, stream, agg,percenrage, result1 ,ramji,12B,SCIENCE,484,96.8,PASS2,

4.create a CSV file ‘student.csv’ for the following data 
name.  	class. 	section101.     	
rakesh	     10	D102	    
 swarnima   12	A103.    	
Samriddhi   5	B104

 5.Program to count the occurrence of a specific character in a file.

In [89]:
count=0
char=input("Enter the character :") #enter the  one character in the text file
with open("file1/a.txt","r") as file_handler: #file open with function
    for i in file_handler:
        for c in i:# c=character in i
            if c==char:
                count=count+1
print("The character {} is found {} times in text file".format(char,count))

The character r is found 2 times in text file