1. CREAT 6X6 ORDER MATRIX USING  LIST COMPREHENSION MATHOD AND ALL MATRIX  VALUE MUST BE ODD NUMBER REPETATION ALLOWED

In [29]:
matrix=[[i for i in range(12) if (i%2!=0)] for j in range(6)]
matrix

[[1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11]]

1. CREAT 16X16 ORDER MATRIX USING  LIST COMPREHENSION MATHOD AND ALL MATRIX  VALUE MUST BE ODD NUMBER REPETATION ALLOWED

In [31]:
matrix=[[i for i in range(32) if (i%2!=0)] for j in range(16)]
matrix

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [39]:
list1=[1,2,3,4,5]
list1.append([6,7,8,9])
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [44]:
list=[1,2,3,4,1,5]
print(list.count(1))

2

In [45]:
list=[1,2,3,4,5]
list.extend([6,7,8,9])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list=[1,2,3,4,5]
print(list.index(5))

4

In [72]:
list=[1,2,3,4,5]
list.insert(0,7)
print(list)

[7, 1, 2, 3, 4, 5]

In [69]:
list=[1,2,3,4,5]
print(list.pop(1))

2

In [78]:
list=[1,2,3,4,5,6,7,8,9,10,5]
print(list.remove(5))
print(list.remove(5))
print(list)

None
None
[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [81]:
list=[1,2,3,4,5,6,7,8,9,10,5]
list.sort()
list

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10,5]
print()

In [91]:
mat=[]
for i in range(16):
    mat.append([])
    for j in range(16):
        mat[i].append(j)
mat

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [96]:
# list without li8st comprehension:

fruits=["apple","banana","cherry","mango","kiwi","Orange"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

# list  list comprehension:

fruits=["apple","banana","cherry","mango","kiwi","Orange"]
newlist=[x for x in fruits if "e" in x ]
newlist

['apple', 'banana', 'mango', 'Orange']

['apple', 'cherry', 'Orange']

In [98]:
fruits=["apple","banana","cherry","mango","kiwi","Orange"]
list1=[i for i in fruits  if "w" in i ]
list1

['kiwi']

In [1]:
t1=(1,[1,2,3],(6,3))
t1[1].append(5)
t1

(1, [1, 2, 3, 5], (6, 3))

In [132]:
import sys
list1=[]
tuple1=()
list1=[1,2,3,4,5]
tuple1=(1,2,3,4,5)
print(sys.getsizeof(list1),"Bytes")
print(sys.getsizeof(tuple1),"Bytes")

104 Bytes
80 Bytes

In [144]:
num={1,2,3,4,6,7,8}
print(num)
num.add(0)
print(num)
for i in range(1,6):
    num.add(i)

print(num)

{1, 2, 3, 4, 6, 7, 8}
{0, 1, 2, 3, 4, 6, 7, 8}
{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [153]:
people={"A","B","C"}
vampires={"D","E","F"}
dracula={"G","H","I"}
population=people.union(vampires)
print(population)
population=people|dracula
population

{'E', 'D', 'C', 'A', 'F', 'B'}

{'A', 'B', 'C', 'G', 'H', 'I'}

In [171]:
set1=set()
set2=set()
for i in range(5):
    set1.add(i)

for j in range(3,9):
        set2.add(j)

# using  intersection ()fuction
set3=set1.intersection(set2)
print(set3)

#  "&" operater
set3=set1&set2
print(set3)

{3, 4}
{3, 4}

In [187]:
set1=set()
set2=set()
for i in range(5):
    set1.add(i)
 

for j in range(3,9):
        set2.add(j)
       

# using  difference ()fuction
# set3=set1.difference(set2)
# print(set3)

#  "&" operater
set3=set1-set2
print(set3)
set3=set2-set1
set3

{0, 1, 2}

{5, 6, 7, 8}

In [188]:
set1={1,2,3,4,6,7,8}
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4, 6, 7, 8}
set()

Assignment 
Display  intersected marks between three class students using set operation

In [7]:
class_A=set()
class_B=set()
class_c=set()
for i in range(35,60):
    class_A.add(i)
for j in range(40,75):
    class_B.add(j)
for k in range(50,99):
    class_c.add(k)

total1=class_A.intersection(class_B)
print(total1)
Total=total1.intersection(class_c)
print(Total)

{40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59}
{50, 51, 52, 53, 54, 55, 56, 57, 58, 59}