1. CREAT 6X6 ORDER MATRIX USING  LIST COMPREHENSION MATHOD AND ALL MATRIX  VALUE MUST BE ODD NUMBER REPETATION ALLOWED

In [29]:
matrix=[[i for i in range(12) if (i%2!=0)] for j in range(6)]
matrix

[[1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11],
 [1, 3, 5, 7, 9, 11]]

1. CREAT 16X16 ORDER MATRIX USING  LIST COMPREHENSION MATHOD AND ALL MATRIX  VALUE MUST BE ODD NUMBER REPETATION ALLOWED

In [31]:
matrix=[[i for i in range(32) if (i%2!=0)] for j in range(16)]
matrix

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31],
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]]

In [39]:
list1=[1,2,3,4,5]
list1.append([6,7,8,9])
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [44]:
list=[1,2,3,4,1,5]
print(list.count(1))

2

In [45]:
list=[1,2,3,4,5]
list.extend([6,7,8,9])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list=[1,2,3,4,5]
print(list.index(5))

4

In [72]:
list=[1,2,3,4,5]
list.insert(0,7)
print(list)

[7, 1, 2, 3, 4, 5]

In [69]:
list=[1,2,3,4,5]
print(list.pop(1))

2

In [78]:
list=[1,2,3,4,5,6,7,8,9,10,5]
print(list.remove(5))
print(list.remove(5))
print(list)

None
None
[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [81]:
list=[1,2,3,4,5,6,7,8,9,10,5]
list.sort()
list

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10,5]
print()

In [91]:
mat=[]
for i in range(16):
    mat.append([])
    for j in range(16):
        mat[i].append(j)
mat

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]]

In [7]:
class_A=set()
class_B=set()
class_c=set()
for i in range(35,60):
    class_A.add(i)
for j in range(40,75):
    class_B.add(j)
for k in range(50,99):
    class_c.add(k)

total1=class_A.intersection(class_B)
print(total1)
Total=total1.intersection(class_c)
print(Total)

{40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59}
{50, 51, 52, 53, 54, 55, 56, 57, 58, 59}

Assignment on file handaling

 1.Write a python program to fetch only Email ID from text file  which include following fields -:
i)Nameii)Mobile Numberiii)Roll Numberiv)Email ID

In [5]:

ad={"name":"vinayak", "rool number":"123","emial id":"vinay@gmail.com"}
with open("file1.txt","w") as file_handler:

    for i,j in ad.items():   
        sum=file_handler.write("%s:%s\n" %(i,j))



with open("file1.txt","r") as file_handler:
    ab=file_handler.seek(30)
    lm=file_handler.read(ab)
    print(lm)

AttributeError: 'set' object has no attribute 'items'

2.Write a python program to find the intersection of elements from two list.

In [7]:
def intersection(list1,list2):
    list3=[value for value in list1 if value in list2]
    return list3
list1=[1,2,3,4]
list2=[1,2,9,8,7,5]
print(intersection(list1,list2))

# or

list1=[1,2,3,4]
list2=[1,2,9,8,7,5]
set1=set(list1)
set2=set(list2)
set3=set1&set2
print(set3)

[1, 2]
{1, 2}

3.suppose a CSV file ‘student.csv’ is already available to you with the following records. write a python program to read this csv file and display its contents on the screen.Rollno, name, class, stream, agg,percenrage, result1 ,ramji,12B,SCIENCE,484,96.8,PASS2,

4.create a CSV file ‘student.csv’ for the following data 
name.  	class. 	section101.     	
rakesh	     10	D102	    
 swarnima   12	A103.    	
Samriddhi   5	B104

 5.Program to count the occurrence of a specific character in a file.

In [89]:
count=0
char=input("Enter the character :") #enter the  one character in the text file
with open("file1/a.txt","r") as file_handler: #file open with function
    for i in file_handler:
        for c in i:# c=character in i
            if c==char:
                count=count+1
print("The character {} is found {} times in text file".format(char,count))

The character r is found 2 times in text file

csv projects

In [91]:
import csv

with open("C:/Users/User/Desktop/csv.file/Sport car price.csv","r") as file:
    data=csv.reader(file)
    i=0
    for line1 in data:
        if  line1[0] == "Ford"  : 
            print(line1[0],line1[7])

Ford 81,000
Ford 5,00,000
Ford 39,000
Ford 5,00,000
Ford 52,915
Ford 5,00,000
Ford 51,720
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 52,720
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 51,000
Ford 36,120
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 45,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 43,000
Ford 5,00,000
Ford 51,720
Ford 5,00,000
Ford 5,00,000
Ford 5,00,000
Ford 38,500
Ford 5,00,000
Ford 52,915
Ford 81,000
Ford 27,205

In [75]:
import csv

with open("C:/Users/User/Desktop/csv.file/Travel details dataset.csv","r" ) as file_handler:
    data_sheet=csv.reader(file_handler)
    i=0
    for line1 in data_sheet:
        print(line1)# print all travel details 
        i=i+1
        if i!=11: # it will loop untill 10
            print(i) # after looping it will print 10 Travel details
            continue 
        break # break at the 10th loop

['ï»¿Trip ID', 'Destination', 'Start date', 'End date', 'Duration (days)', 'Traveler name', 'Traveler age', 'Traveler gender', 'Traveler nationality', 'Accommodation type', 'Accommodation cost', 'Transportation type', 'Transportation cost']
1
['1', 'London, UK', '05-01-2023', '05-08-2023', '7', 'John Smith', '35', 'Male', 'American', 'Hotel', '1200', 'Flight', '600']
2
['2', 'Phuket, Thailand', '6/15/2023', '6/20/2023', '5', 'Jane Doe', '28', 'Female', 'Canadian', 'Resort', '800', 'Flight', '500']
3
['3', 'Bali, Indonesia', '07-01-2023', '07-08-2023', '7', 'David Lee', '45', 'Male', 'Korean', 'Villa', '1000', 'Flight', '700']
4
['4', 'New York, USA', '8/15/2023', '8/29/2023', '14', 'Sarah Johnson', '29', 'Female', 'British', 'Hotel', '2000', 'Flight', '1000']
5
['5', 'Tokyo, Japan', '09-10-2023', '9/17/2023', '7', 'Kim Nguyen', '26', 'Female', 'Vietnamese', 'Airbnb', '700', 'Train', '200']
6
['6', 'Paris, France', '10-05-2023', '10-10-2023', '5', 'Michael Brown', '42', 'Male', 'American', 'Hotel', '1500', 'Flight', '800']
7
['7', 'Sydney, Australia', '11/20/2023', '11/30/2023', '10', 'Emily Davis', '33', 'Female', 'Australian', 'Hostel', '500', 'Flight', '1200']
8
['8', 'Rio de Janeiro, Brazil', '01-05-2024', '01-12-2024', '7', 'Lucas Santos', '25', 'Male', 'Brazilian', 'Airbnb', '900', 'Flight', '600']
9
['9', 'Amsterdam, Netherlands', '2/14/2024', '2/21/2024', '7', 'Laura Janssen', '31', 'Female', 'Dutch', 'Hotel', '1200', 'Train', '200']
10
['10', 'Dubai, United Arab Emirates', '03-10-2024', '3/17/2024', '7', 'Mohammed Ali', '39', 'Male', 'Emirati', 'Resort', '2500', 'Flight', '800']

In [96]:
import csv
with open("C:/Users/User/Desktop/csv.file/Salary_Dataset_with_Extra_Features.csv","r") as data_set:
    data=csv.reader(data_set)
    for line2 in data:
        if line2[0]==str(4.5) :
            print(line2[0],line2[1],line2[3])

4.5 Advanced Millennium Technologies 400000
4.5 FitnyTech 252000
4.5 Blewsoft Technologies 240000
4.5 Housejoy 500000
4.5 QuHu 120000
4.5 Money View 468000
4.5 FinBox 240000
4.5 Indian Institute of Science 408000
4.5 Mindera 600000
4.5 CRED 300000
4.5 Amli Network 2000000
4.5 Groww 708000
4.5 KSJ Technology 500000
4.5 Google 1900000
4.5 Myelin Foundry 372000
4.5 FamPay 1128000
4.5 Zoho 1100000
4.5 Google 2200000
4.5 FamPay 288000
4.5 Unnati 1000000
4.5 Bizom 312000
4.5 IngroInfo Software Solutions 228000
4.5 ISKCON Bangalore 500000
4.5 TechManyata Software Solutions 192000
4.5 Enbolt Labs 576000
4.5 Recibo Technologies 407616
4.5 Ananya Technologies 800000
4.5 Infilect 400000
4.5 Money View 588000
4.5 V-Nova 1500000
4.5 Diaprix Web Solutions 564000
4.5 KeepWorks Technologies 1068000
4.5 Sakha Global 636000
4.5 Guna Marketing 300000
4.5 WebZino Technologies 300000
4.5 Sky9 360000
4.5 FamPay 300000
4.5 highway delite 144000
4.5 Shadowfax Technologies 3800000
4.5 Google 500000
4.5 Zoho 180000
4.5 IIT Madras 300000
4.5 Intelizign 700000
4.5 Softlogic Systems 432000
4.5 Moonstone Infotech 400000
4.5 Ahaguru Educational technology 348000
4.5 Compunet Connections 100000
4.5 Zoho 1200000
4.5 Intelizest 500000
4.5 Pasumai Solutions 288000
4.5 Zoho 144000
4.5 QBurst 100000
4.5 Google 192000
4.5 mobiGesture 200000
4.5 hedgehog lab 144000
4.5 Pixelvide 372000
4.5 Mahendrada Softtech 400000
4.5 Emblix Solutions 192000
4.5 Adithya 624000
4.5 Nooor Technologies 348000
4.5 Anvation Labs 240000
4.5 Flytta 324000
4.5 Asset Telematics 200000
4.5 Error Technologies 132000
4.5 Rutherford Technologies 300000
4.5 Crown IT 372000
4.5 Bringways Tech 204000
4.5 Accuracy First Diagnostics 400000
4.5 Option Matrix Pvt 588000
4.5 ParamInfo 900000
4.5 Avantari Technologies 324000
4.5 Grant Leading Technology 288000
4.5 Seken 456000
4.5 TravelUR 324000
4.5 hedgehog lab 228000
4.5 Option Matrix Pvt 624000
4.5 Grappus 500000
4.5 Humans of Digital Marketing 540000
4.5 Google 504000
4.5 Appzlogic Mobility Solutions 300000
4.5 Quadlabs Technologies 400000
4.5 Antino Labs 120000
4.5 .Kreate 180000
4.5 Copper Mobile 200000
4.5 Quaere e-Technologies Pvt. Ltd. 300000
4.5 Auxesis Infotech 624000
4.5 Copper Mobile 120000
4.5 Inshorts 1100000
4.5 Northcorp Software 300000
4.5 Sai Ideal Softwares 400000
4.5 Belair Travel & Cargo 588000
4.5 GleamingMedia 600000
4.5 Antino Labs 456000
4.5 Futtkr India 348000
4.5 RIMUS Technologies 312000
4.5 Tokopedia 1000000
4.5 MetaDesign Solutions 1200000
4.5 mPowerTech 840000
4.5 Unnati 700000
4.5 Fuel4Media 564000
4.5 Delta Star Technologies 744000
4.5 UG Infosystem 300000
4.5 Colevit Technologies 252000
4.5 Mentor Plus 60000
4.5 TecManic 360000
4.5 LinkedIn 600000
4.5 Signity Solutions 300000
4.5 Sara Technologies (India) 396000
4.5 Ingenium Education 60000
4.5 Elanwrap Technologies 204000
4.5 Droom 720000
4.5 NbliK 72000
4.5 Droom 1500000
4.5 Source Soft Solutions 1056000
4.5 Campus 365 168000
4.5 Beryl Systems 1000000
4.5 KnackBe Technologies 168000
4.5 Northwood Ravin 120000
4.5 MindBowser Info Solutions 100000
4.5 Ignite Solutions 700000
4.5 Plobal 228000
4.5 Aayansh Germinate 216000
4.5 AceInvent IT Solutions 96000
4.5 Bizmo Technologies 168000
4.5 Net Android 100000
4.5 SwarajyaIT 336000
4.5 Unitglo Solutions 156000
4.5 Grupo FREL 400000
4.5 Google 240000
4.5 Money View 1300000
4.5 Mindera 1000000
4.5 ServiceNow 500000
4.5 ZestMoney 1500000
4.5 CRED 696000
4.5 CRED 1400000
4.5 Money View 480000
4.5 Bright Money 396000
4.5 Tescra 240000
4.5 Riyaz 100000
4.5 Webknot Technologies 96000
4.5 Uptycs 1500000
4.5 Siply 1200000
4.5 Dataweave 700000
4.5 ZenDynamix 600000
4.5 FamPay 1100000
4.5 Money View 1200000
4.5 JUSPAY 700000
4.5 FamPay 456000
4.5 Wealthy 1200000
4.5 FinBox 900000
4.5 Shadowfax Technologies 3100000
4.5 Plate IQ 2800000
4.5 SurveySparrow 800000
4.5 Betterhalf 1200000
4.5 FinBox 600000
4.5 FinBox 168000
4.5 Tookitaki 2000000
4.5 ShopTrade 2100000
4.5 Wanclouds 792000
4.5 Marmeto 576000
4.5 Groww 120000
4.5 Google 2400000
4.5 Encourage Infotech 300000
4.5 CloverBridge Technologies 700000
4.5 Voltrent Networks 144000
4.5 IIT Kharagpur 700000
4.5 Sifars 408000
4.5 FamPay 456000
4.5 ESmob Technologies 400000
4.5 Montaigne Smart Business Solutions 500000
4.5 Varseno Solutions 400000
4.5 Railz 1200000
4.5 Cavista Technology 900000
4.5 EDGENeural.ai 500000
4.5 Grappus 100000
4.5 Antino Labs 120000
4.5 Google 1000000
4.5 IGT Solutions 168000
4.5 Grappus 144000
4.5 Outbooks 636000
4.5 Auxesis Infotech 228000
4.5 Power Home Remodeling 100000
4.5 Hie HQ 500000
4.5 Dror (India) 192000
4.5 ETMONEY 2200000
4.5 Dror (India) 700000
4.5 Fyp 1000000
4.5 Kite (New Delhi) 500000
4.5 SkillBox 300000
4.5 Mindpeers India 900000
4.5 Tokopedia 1800000
4.5 Grappus 900000
4.5 @1800 324000
4.5 Google 2000000
4.5 Akamai 1100000
4.5 Novigo Solutions 600000
4.5 DODO 600000
4.5 Altizone Info Solutions 600000
4.5 Akamai 1300000
4.5 Akamai 100000
4.5 Tescra 700000
4.5 Google 288000
4.5 Krish Services Group 1600000
4.5 Elvya Technologies 300000
4.5 Recro 800000
4.5 VuNet Systems 600000
4.5 Marmeto 300000
4.5 Machstatz 144000
4.5 2nd Year 348000
4.5 Unnati 800000
4.5 Litmus7 2200000
4.5 Coverfox 600000
4.5 Money View 1600000
4.5 Antino Labs 348000
4.5 Get My Parking 700000
4.5 Frontend Design 108000
4.5 Felix Healthcare 576000
4.5 Web Development India 228000
4.5 EasyEcom 1500000
4.5 Mindera 600000
4.5 Medwhiz 228000
4.5 SwiftAnt IT Solutions 168000
4.5 Sina Projects Solutions 400000
4.5 Explorex 700000
4.5 ReformX Consulting 168000
4.5 SleekSky Technologies 60000
4.5 Authlink 500000
4.5 OneAssure 500000
4.5 SutlejSoft 192000
4.5 Havstruck 500000
4.5 Genixo 101376
4.5 VuNet Systems 612000
4.5 WordPress Developer 24000
4.5 Telaverge communications 400000
4.5 Web Development India 348000
4.5 ReformX Consulting 120000
4.5 The Backbenchers 800000
4.5 Google 1100000
4.5 ShopTrade 396000
4.5 Reckonsys 800000
4.5 SelfMade 228000
4.5 Intelizign 400000
4.5 Frontend Design 240000
4.5 Dotsolved Systems 700000
4.5 Zoho 600000
4.5 Google 1140000
4.5 Zoho 1104000
4.5 Project Assistant 192000
4.5 Intelizest 1800000
4.5 Zoho 600000
4.5 HVS 216000
4.5 ServiceNow 540000
4.5 Wavelabs Technologies 1100000
4.5 SpringML 500000
4.5 Frontend Design 300000
4.5 Helius Technologies 700000
4.5 Netrovert Software 100000
4.5 GP InfoTech 400000
4.5 Apxor 600000
4.5 Gantec Publishing Solutions 500000
4.5 FinMkt 400000
4.5 WinGig 324000
4.5 Neudesic 1500000
4.5 Frontend Design 408000
4.5 Moonstone Infotech 400000
4.5 Acriters Technologies 500000
4.5 Google 300000
4.5 Grappus 500000
4.5 Frontend Design 144000
4.5 Auxesis Infotech 312000
4.5 OptiPhoeniX 300000
4.5 Unnati 500000
4.5 Google 100000
4.5 SelfMade 400000
4.5 Super Highway Labs 900000
4.5 KALKINE 400000
4.5 MoreTasks 252000
4.5 Antino Labs 180000
4.5 Frontend Design 60000
4.5 Web Development India 228000
4.5 Kcloud Technologies 300000
4.5 BITCS 300000
4.5 Quarks Technosoft 144000
4.5 Decipher Zone Softwares 600000
4.5 Datability Solutions 700000
4.5 Razorpod Technologies 312000
4.5 SimplePlan Media 264000
4.5 Hie HQ 516000
4.5 Dror (India) 600000
4.5 Fretron 400000
4.5 Inditab 600000
4.5 Frontend Design 168000
4.5 Frontend Design 500000
4.5 3RI Technologies 132000
4.5 Applied AI Consulting 180000
4.5 Prishth Technosoft 800000
4.5 Innovate 200000
4.5 Mobicloud Technologies 300000
4.5 Oxcytech System 100000
4.5 F.A.M. Marketing 500000
4.5 Bottle 60000
4.5 I Have A Future 120000
4.5 Unnati 700000
4.5 Housejoy 600000
4.5 Codewave 156000
4.5 Amli Network 2000000
4.5 Mobiona Software Solutions 300000
4.5 highway delite 360000
4.5 FitnyTech 240000
4.5 Mobi Esprits Software Technologies 300000
4.5 Zoho 700000
4.5 Sakha Global 700000
4.5 Daksh Solutions 500000
4.5 Tact.ai 1800000
4.5 Gosharp Technologies 700000
4.5 SwiftAnt IT Solutions 300000
4.5 CodersBrain 600000
4.5 SwiftAnt IT Solutions 300000
4.5 Recro 1400000
4.5 FamPay 240000
4.5 SYNYCS 264000
4.5 Avantari Technologies 600000
4.5 Option Matrix Pvt 400000
4.5 Byteridge 800000
4.5 MetaDesign Solutions 252000
4.5 Grappus 828000
4.5 eVirtual Services 504000
4.5 Nextera Business Solutions 240000
4.5 Inshorts 400000
4.5 Copper Mobile 132000
4.5 Appzlogic Mobility Solutions 300000
4.5 ETMONEY 2100000
4.5 Fuel4Media 1000000
4.5 Delta Star Technologies 252000
4.5 ABCplusD 516000
4.5 Zenius Education 1700000
4.5 Antino Labs 180000
4.5 Copper Mobile 500000
4.5 Appzlogic Mobility Solutions 200000
4.5 ABCplusD 600000
4.5 Grappus 900000
4.5 Tokopedia 600000
4.5 SplashLearn 2500000
4.5 Quadlabs Technologies 700000
4.5 Grappus 500000
4.5 Copper Mobile 1000000
4.5 Fyp 1400000
4.5 Virtuos 1300000
4.5 Neuronimbus 400000
4.5 Blu Smart 900000
4.5 AKS Interactive Solutions 600000
4.5 Appzlogic Mobility Solutions 200000
4.5 Tokopedia 500000
4.5 MetaDesign Solutions 600000
4.5 Grappus 500000
4.5 AKS Interactive Solutions 180000
4.5 Signity Solutions 588000
4.5 MindBowser Info Solutions 300000
4.5 dvimay 100000
4.5 Google 300000
4.5 ubiqtas technologies 600000
4.5 Destek Infosolutions 838464
4.5 Cavista Technology 2400000
4.5 HooFit 500000
4.5 DLK Technologies 216000
4.5 Softlogic Systems 180000
4.5 Zoho 468000
4.5 Google 300000
4.5 IIT Madras 300000
4.5 KEY Difference 312000
4.5 ConcertCare 400000
4.5 SecureW2 2600000
4.5 Ebullitent Info Systems 276000
4.5 Zoho 180000
4.5 Zoho 180000
4.5 Intelizign 540000
4.5 Intelizign 800000
4.5 Zoho 700000
4.5 Intelizign 400000
4.5 Zoho (India) 400000
4.5 FresherEngineers.com 228000
4.5 Intelizign 600000
4.5 Zoho (India) 1300000
4.5 Baton Systems 500000
4.5 Creador 288000
4.5 Google 1000000
4.5 Postman 700000
4.5 Rise Technical Recruitment 400000
4.5 Zeptoh 200000
4.5 Antonyan Miranda 200000
4.5 Technify (PK) 324000
4.5 Kashi Sushi 1000000
4.5 Zoho 400000
4.5 Zoho (India) 600000
4.5 Zoho 636000
4.5 Zeptoh 120000
4.5 Zoho 400000
4.5 Google 192000
4.5 Pennant Technologies 1000000
4.5 SSP 2000 500000
4.5 SkillCap Global IT Solutions 400000
4.5 Nixinn Insights 300000
4.5 MNT Soft 300000
4.5 Object Technology Solutions 300000
4.5 Deltra Soft Technologies 500000
4.5 ND Frames 216000
4.5 Lap Technos and Service 400000
4.5 ShvinTech 500000
4.5 Google 200000
4.5 FresherEngineers.com 288000
4.5 Option Matrix Pvt 264000
4.5 Deltra Soft Technologies 700000
4.5 Techmologics 300000
4.5 Salesforce 500000
4.5 Nixinn Insights 300000
4.5 Google 4900000
4.5 Wancura software solutions 400000
4.5 Prosper Overseas 180000
4.5 Pennant Technologies 100000
4.5 Bridge Soft Solutions 432000
4.5 Work From Home, Feel The Freedom 200000
4.5 Tvisha Technologies 300000
4.5 AbhiBus Services 264000
4.5 iProPal 300000
4.5 ESmob Technologies 624000
4.5 Moonstone Infotech 756000
4.5 Ingrain Systems 468000
4.5 Techmologics 300000
4.5 Option Matrix Pvt 300000
4.5 Webknot Technologies 60000
4.5 Codewave 276000
4.5 Invenzo Labs India 800000
4.5 Antly 900000
4.5 EnR Consultancy Services 800000
4.5 Social Media Marketing 400000
4.5 Homescreen Network 1000000
4.5 MyRidz Technologies 700000
4.5 Google 228000
4.5 Google 500000
4.5 Zoho 900000
4.5 hedgehog lab 600000
4.5 Narvar 600000
4.5 Reckonsys 600000
4.5 TAFF Inc. 228000
4.5 A2STAR Technologies 400000
4.5 RankItRight Media 912000
4.5 IGeekS Technologies 144000
4.5 Pecten 120000
4.5 Pecten 600000
4.5 MOI 1700000
4.5 LinkedIn 600000
4.5 Easybi Solutions 500000
4.5 Alethea Communications Technologies 300000
4.5 Ingenuitas Software 900000
4.5 CAPEMISA 800000
4.5 Google 100000
4.5 i8labs 180000
4.5 ionixx technologies 800000
4.5 Zoho 144000
4.5 Bain & Company 1200000
4.5 Softlogic Systems 1146816
4.5 BOT VFX 900000
4.5 IIT Madras 732000
4.5 IIT Madras 456000
4.5 ESK Technologies 300000
4.5 SoulPage IT Solutions 500000
4.5 Ariqt 228000
4.5 Raven Innovations 120000
4.5 TechStaX 288000
4.5 Google 576000
4.5 Google 1000000
4.5 FresherEngineers.com 200000
4.5 Moonstone Infotech 300000
4.5 Django 960000
4.5 Raven Innovations 84000
4.5 Homeflic Wegrow 1239744
4.5 FresherEngineers.com 228000
4.5 Attivo Networks 400000
4.5 ZestMoney 1000000
4.5 Betterhalf 1000000
4.5 Smartnumbers 1000000
4.5 Recro 1000000
4.5 Willow Innovations 1000000
4.5 Tescra 1000000
4.5 LendingKart 1000000
4.5 Recro 1000000
4.5 Webknot Technologies 120000
4.5 JUSPAY 800000
4.5 LendingKart 1100000
4.5 Akamai 1100000
4.5 NeoGrowth Credit 1100000
4.5 ZestMoney 800000
4.5 Pingala Software India 1200000
4.5 Wavicle Technologies 1200000
4.5 Google 1200000
4.5 Akamai 1000000
4.5 Akamai 1300000
4.5 Zetwerk 1300000
4.5 SmartCoin Financials 1300000
4.5 LinkedIn 100000
4.5 Google 1100000
4.5 LendingKart 900000
4.5 RadiSys 1400000
4.5 Money View 1100000
4.5 JUSPAY 600000
4.5 HackerRank 800000
4.5 Plate IQ 1500000
4.5 Money View 1500000
4.5 JUSPAY 1500000
4.5 zDistanceLab 180000
4.5 Google 400000
4.5 Google 200000
4.5 HackerRank 1600000
4.5 HackerRank 1600000
4.5 Reckonsys 192000
4.5 MyAnatomy 192000
4.5 Tookitaki 1700000
4.5 Akamai 1700000
4.5 Bright Money 1700000
4.5 ZestMoney 1000000
4.5 Akamai 200000
4.5 Google 1800000
4.5 Postman 1900000
4.5 Money View 1900000
4.5 NeoGrowth Credit 100000
4.5 Money View 100000
4.5 LendingKart 1700000
4.5 Akamai 1700000
4.5 Blitz (CA) 2000000
4.5 JUSPAY 2100000
4.5 HackerRank 2100000
4.5 OneShot.ai 288000
4.5 ZestMoney 1600000
4.5 JUSPAY 240000
4.5 Aconex 2500000
4.5 Needl.ai 300000
4.5 SensAi Technologies 2700000
4.5 Iamneo.ai 348000
4.5 Abof 200000
4.5 FlashPrep 360000
4.5 LendingKart 360000
4.5 Healofy 3200000
4.5 Postman 396000
4.5 FresherEngineers.com 408000
4.5 Bright Money 408000
4.5 Bright Money 420000
4.5 Akamai 420000
4.5 Akamai 420000
4.5 HackerRank 300000
4.5 FamPay 468000
4.5 ZestMoney 468000
4.5 Salesforce 300000
4.5 LinkedIn 480000
4.5 Google 1100000
4.5 LinkedIn 480000
4.5 Google 516000
4.5 SelfMade 528000
4.5 HackerRank 480000
4.5 JUSPAY 400000
4.5 Google 1500000
4.5 Square Bridge Technologies 500000
4.5 Intelizign 500000
4.5 BIT Mesra 768000
4.5 Zetwerk 780000
4.5 Housejoy 600000
4.5 Naasaa Events 600000
4.5 Zoho 600000
4.5 Tricon Infotech 600000
4.5 Google 384000
4.5 Wealthy 700000
4.5 Google 132000
4.5 Salesforce 1044000
4.5 Catchpoint 800000
4.5 Akamai 800000
4.5 Nethaat Interactive Solutions 800000
4.5 Akamai 800000
4.5 Thinkify 900000
4.5 Wavicle Technologies 900000
4.5 Postman 360000
4.5 Zoho 156000
4.5 Sigaram 108000
4.5 Google 1300000
4.5 Zoho 300000
4.5 IIT Madras 60000
4.5 Sigaram 300000
4.5 RSoft Technologies 144000
4.5 GJ Infotech 1068000
4.5 Ragus BPO 816000
4.5 Zoho 400000
4.5 Google 200000
4.5 Zoho 200000
4.5 Zoho 400000
4.5 Chargebee 700000
4.5 Zoho 800000
4.5 SecureW2 924000
4.5 IIT Madras 240000
4.5 Akamai 300000
4.5 Google 924000
4.5 Google 1400000
4.5 Google 100000
4.5 SecureW2 1000000
4.5 Zoho 1300000
4.5 Chargebee 100000
4.5 Akamai 200000
4.5 Chargebee 2400000
4.5 Salesforce 384000
4.5 ServiceNow 1600000
4.5 ServiceNow 564000
4.5 Byteridge 600000
4.5 Adithya 144000
4.5 InsideView 1500000
4.5 Google 1140000
4.5 Zoho 700000
4.5 Google 100000
4.5 ServiceNow 1900000
4.5 Salesforce 1500000
4.5 Gainsight 1800000
4.5 Google 2100000
4.5 Byteridge 300000
4.5 Salesforce 1500000
4.5 ServiceNow 1600000
4.5 Byteridge 900000
4.5 Google 1400000
4.5 SelfMade 1200000
4.5 Durity 252000
4.5 Me, Myself and I 2038080
4.5 ServiceNow 600000
4.5 Google 1500000
4.5 Google 1200000
4.5 JUSPAY 2200000
4.5 Wavelabs Technologies 252000
4.5 Salesforce 1032000
4.5 Being Zero 132000
4.5 Adaequare 800000
4.5 NextBee Media 200000
4.5 Gainsight 2500000
4.5 Gainsight 800000
4.5 Tech Vedika 600000
4.5 Google 500000
4.5 Zoho 1300000
4.5 IDK Labs 1164000
4.5 Byteridge 900000
4.5 Byteridge 500000
4.5 Google 2000000
4.5 Autonomous Solutions 1200000
4.5 Wallero 300000
4.5 Google 1152000
4.5 O4S 2100000
4.5 Gainsight 1000000
4.5 Gainsight 2300000
4.5 LoginRadius 1400000
4.5 Salesforce 500000
4.5 SelfMade 1152000
4.5 QBurst 500000
4.5 Livewire Communications 300000
4.5 QBurst 1080000
4.5 JUSPAY 2700000
4.5 CyberSwift 550000
4.5 Rahul's IAS 200000
4.5 Google 1450000
4.5 Zoho 750000
4.5 JUSPAY 2000000
4.5 Relevel 240000
4.5 CloudKaptan 300000
4.5 Ram Pharmaceutical Industries 500000
4.5 GBSA 1050000
4.5 JUSPAY 480000
4.5 MoreYeahs 204000
4.5 Kavya 200000
4.5 Google 100000
4.5 Google 576000
4.5 HackerRank 456000
4.5 Rightful Group 100000
4.5 Google 5100000
4.5 LinkedIn 700000
4.5 JUSPAY 900000
4.5 People Group 300000
4.5 Seven Lakes Technologies 300000
4.5 Codalyze Technologies 600000
4.5 Saathealth 204000
4.5 Quantum CorpHealth 300000
4.5 Kabisa 1200000
4.5 Google 1200000
4.5 Google 300000
4.5 Google 1200000
4.5 Yes Marketing 2400000
4.5 Learning Spiral 500000
4.5 First State Bank (Illinois) 1600000
4.5 All Washed Up Cleaning 900000
4.5 Google 500000
4.5 AAA Apartment Staffing 1000000
4.5 tab32 1100000
4.5 Google 168000
4.5 Google 200000
4.5 Droom 1000000
4.5 MetaDesign Solutions 600000
4.5 AIG Business Solution 400000
4.5 SplashLearn 100000
4.5 Neuronimbus 660000
4.5 C Simplify IT 660000
4.5 MyHashCode 120000
4.5 IoTrek 852000
4.5 Google 1200000
4.5 IIT Kharagpur 240000
4.5 Network People Services Technologies 300000
4.5 .Kreate 400000
4.5 Shri Kailash Logistics 1000000
4.5 â€‹App-Scoop 500000
4.5 Blu Smart 800000
4.5 SelfMade 336000
4.5 ExpansionJS 144000
4.5 Google 1104000
4.5 Essentia SoftServ 400000
4.5 Proffus 240000
4.5 LinkedIn 588000
4.5 Yellow Class 816000
4.5 Divergent Infosoft Technologies 672000
4.5 KritiKal Solutions 800000
4.5 Google 1000000
4.5 Google 100000
4.5 Google 1100000
4.5 Google 500000
4.5 Google 1600000
4.5 Sentieo 1600000
4.5 Droom 1400000
4.5 Google 240768
4.5 Google 300000
4.5 Yellow Class 700000
4.5 SplashLearn 500000
4.5 SplashLearn 600000

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 822: character maps to <undefined>