In [50]:

    
list=[12,23,445,65,78,87,]
print("largest of these number :", max(list))

largest of these number : 445

Intiger :type(object) -> the object's type type(name, bases, dict, **kwds) -> a new type

In [51]:
a=67
print(a)
print(type(a))

67
<class 'int'>

In [52]:
# a=16
# b=45
# c=a//b
# c
a=10
b=2
c=a%b
print(c)

0

float

In [53]:
a=6.7
print(a)
print(type(a))

a=6/7
print(a)
print(type(a))

6.7
<class 'float'>
0.8571428571428571
<class 'float'>

complex number

In [54]:
a=2+3j
print(a)
print(type(a))

a=1+5j
b=2+3j
# a+id * c+id=(a*c-b*d)+i(a*d+b*c)
c=a*b
print(c)

(2+3j)
<class 'complex'>
(-13+13j)

boolean

In [55]:
a=True
b=False
print(bool(a))
print(bool(b))
print(a==b)

c=None
print(bool(c))

True
False
False
False

string

In [56]:
user_input=bool(input("are you hungry ?True or False"))
if user_input:
    print("you need to eat some food")
else:
    print("let's go for walk:", user_input)

you need to eat some food

lists

In [57]:
 

a=[10,25.25,'''hello world''',25,258.5,[100,1085,["python"]]]
print(a[5][2][0])

python

In [58]:
# # list1=input("enter the elelment:")
# # list2=list1.split()
# # print(list2)

# a=10
# b=20
# c=[]
# append
# c.append(input("enter the element :"))
# c.append(input("enter the elementa :"))
# print(c)

# list=[]
# list.append(input("enter the element"))
# list

# list=[1,2,3,4,5]
# print(list)

# list.insert(0,["hello python",100,200])
# print(list)

# extend

# list=[0,1,2]
# list.extend([3,4,5,6,7,8,9,10])
# list
# # reverse
# list=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# print(list)
# list.reverse()
# list

# remove

# list=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# print(list)

# for a in list :
#     print(a)
#     list.remove(a)

# print(list)

# pop function
# list=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# print(list)
# returnvalue=(list.pop(-7))
# print(returnvalue)
# list

# slicing_list
list=[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list)
sliced_list=list[0:10:3]
print(sliced_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]

string

In [59]:
text="keonics hubli"
a=text.upper()
print(a)

KEONICS HUBLI

 tuple

In [60]:
t1=('python',[10,25])
print(t1[1][1])
t1

t1=('python',10)
t2=(11,12,13,14)
t3=(t1+t2)
t3

25

('python', 10, 11, 12, 13, 14)

In [61]:
t1=(100,1520,142)
t1
max(t1)
a,b,c=t1
print(a)
print(b)
print(c)

100
1520
142

In [62]:
t1=("hello to python world")
# print(t1)
# del t1
# print(t1)
len(t1)

21

set()

In [63]:
s1=set("python is on the world")
print(s1)

{'n', 'd', 'w', ' ', 'e', 'h', 'p', 't', 'o', 'r', 'l', 'y', 's', 'i'}

In [64]:
s1=set("hello python")
for i in s1:
    print(i,sep='')

n

e
h
p
t
l
o
y

In [65]:
s1=(1,2,3,"python")
print(type(s1))
s1

<class 'tuple'>

(1, 2, 3, 'python')

In [66]:
s1={6,7,8}

s1.add(9)
for i in range(1,6,2):
    s1.add(i)
print(s1)

{1, 3, 5, 6, 7, 8, 9}

Dictionary

In [67]:
dict={}
print(type(dict))
print(dict)

<class 'dict'>
{}

In [68]:
d1={1:("hello"),2:("world  to"),list:[1,2,3,4,85],6:{4:"KeyboardInterrupt"}}
print(d1)

TypeError: unhashable type: 'list'

In [ ]:
d2={}
d2[10]="print"
d2

{10: 'print'}

In [ ]:
d1={1:"python"}
d2=d1.copy()
d1.values()
print(d2)
print(d1)

{1: 'python'}
{1: 'python'}

In [ ]:

a=5
b=4
a+=b
a

9

In [ ]:
a=1
b=2
c=4

e=c+b/c/(b*c)
e

4.0625

In [ ]:
# Precedence of 'or' & 'and'
name = "Alex" 
age = 0
if name == "Alex" or name == "John" and age >= 2:
    print("Hello! Welcome.") 
else:
    print("Good Bye!!")

Hello! Welcome.

In [ ]:
if (1+2)>0:
    print("true")
print("an outside of if")

true
an outside of if

In [ ]:
i=5
while i >0:
    print(i,"inside")

In [ ]:
for i in range(10):
    print("first")
    if i==5 or i==6:
        print("skipped",i)
        continue
    print(i)

first
0
first
1
first
2
first
3
first
4
first
skipped 5
first
skipped 6
first
7
first
8
first
9

functions

In [ ]:
def add(a,b):
    sum=a+b
    # print("sum=",sum)
    return sum

answer=add(10,30)
print("sum",answer)

sum 40

map() in zip

In [71]:
name=('a','b','c','d','e')
roll_number=(10,25,36,48,25)

zipped=zip(name,roll_number)

print(set(zipped))

{('a', 10), ('d', 48), ('c', 36), ('e', 25), ('b', 25)}

In [2]:
name=['raju','ramesh','ravi','ragav','ragu']
roll_no=[1,2,3,4,5]

mapped=zip(name,roll_no)

print(dict(mapped))

{'raju': 1, 'ramesh': 2, 'ravi': 3, 'ragav': 4, 'ragu': 5}

In [7]:
import math
# 1
def computer_sqrt(n):
    result=math.sqrt(n)
    print(result)
computer_sqrt(54)


# 2
def computer_sqrt(n):
    result=math.sqrt(n)
    return result

ans=computer_sqrt(5)
print(ans)

7.3484692283495345
2.23606797749979

even and odd

In [66]:
x=(int(input("enter the number")))
def func1(x):
    if (x%2==0):
        print("even")
    else:
        print("odd")
func1(x)

even

+or-

In [50]:
def number(x):
    if (x>0):
        print("+",x)
    else:
        print("-",x)
number(-5)

- -5

a big and small number

In [62]:
def big (x,y):

    if x>y  :
        print("x isbig",x)
    else:
        print("y is big",y)

    if x<y:
        print(" x is small",x)
    else :
        print("y is small",y)
big(24,47)

y is big 47
 x is small 24

In [74]:
def number(x):
    if (x>0):
        flag=True
        return flag
    else:
        flag=False
        return flag
ans=number(6)
ans

True

 calculate the area of traingle "1/2*b*h"

In [80]:
# calculate the area of traingle "1/2 *b*h"

b=(int(input("enter the base")))
h=(int(input("enter the hight")))
def function3(b,h):
    t1=1/2*b*h
    return t1

answer=function3(b,h)
print(answer)

5.0

calculate the area of circle pi*r*

In [84]:
# calculate the area of circle pi*r*r

r=(int(input("enter the redius")))
def num(r):
    c1=3.142*r*r
    return c1

ans=num(r)
print(ans)

201.088