In [38]:

    
list=[12,23,445,65,78,87,]
print("largest of these number :", max(list))

Intiger :type(object) -> the object's type type(name, bases, dict, **kwds) -> a new type

In [39]:
a=67
print(a)
print(type(a))

67
<class 'int'>

In [40]:
# a=16
# b=45
# c=a//b
# c
a=10
b=2
c=a%b
print(c)

0

float

In [41]:
a=6.7
print(a)
print(type(a))

a=6/7
print(a)
print(type(a))

6.7
<class 'float'>
0.8571428571428571
<class 'float'>

complex number

In [42]:
a=2+3j
print(a)
print(type(a))

a=1+5j
b=2+3j
# a+id * c+id=(a*c-b*d)+i(a*d+b*c)
c=a*b
print(c)

(2+3j)
<class 'complex'>
(-13+13j)

boolean

In [43]:
a=True
b=False
print(bool(a))
print(bool(b))
print(a==b)

c=None
print(bool(c))

True
False
False
False

string

In [44]:
user_input=bool(input("are you hungry ?True or False"))
if user_input:
    print("you need to eat some food")
else:
    print("let's go for walk:", user_input)

you need to eat some food

lists

In [81]:
 

a=[10,25.25,'''hello world''',25,258.5,[100,1085,["python"]]]
print(a[5][2][0])

TypeError: 'str' object is not callable

In [4]:
# # list1=input("enter the elelment:")
# # list2=list1.split()
# # print(list2)

# a=10
# b=20
# c=[]
# append
# c.append(input("enter the element :"))
# c.append(input("enter the elementa :"))
# print(c)

# list=[]
# list.append(input("enter the element"))
# list

# list=[1,2,3,4,5]
# print(list)

# list.insert(0,["hello python",100,200])
# print(list)

# extend

# list=[0,1,2]
# list.extend([3,4,5,6,7,8,9,10])
# list
# # reverse
# list=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# print(list)
# list.reverse()
# list

# remove

# list=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# print(list)

# for a in list :
#     print(a)
#     list.remove(a)

# print(list)

# pop function
# list=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# print(list)
# returnvalue=(list.pop(-7))
# print(returnvalue)
# list

# slicing_list
list=[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list)
sliced_list=list[0:10:3]
print(sliced_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]

string

In [77]:
text="keonics hubli"
a=text.upper()
print(a)

TypeError: 'str' object is not callable

 tuple

In [3]:
t1=('python',[10,25])
print(t1[1][1])
t1

t1=('python',10)
t2=(11,12,13,14)
t3=(t1+t2)
t3

25

('python', 10, 11, 12, 13, 14)

In [29]:
t1=(100,1520,142)
t1
max(t1)
a,b,c=t1
print(a)
print(b)
print(c)

100
1520
142

In [27]:
t1=("hello to python world")
# print(t1)
# del t1
# print(t1)
len(t1)

21

set()

In [8]:
s1=set("python is on the world")
print(s1)

{'h', ' ', 'w', 's', 'y', 'p', 'e', 'l', 'n', 'o', 'i', 'd', 't', 'r'}

In [18]:
s1=set("hello python")
for i in s1:
    print(i,sep='')

h
l

y
p
e
n
o
t

In [19]:
s1=(1,2,3,"python")
print(type(s1))
s1

<class 'tuple'>

(1, 2, 3, 'python')

In [22]:
s1={6,7,8}

s1.add(9)
for i in range(1,6,2):
    s1.add(i)
print(s1)

{1, 3, 5, 6, 7, 8, 9}

Dictionary

In [6]:
dict={}
print(type(dict))
print(dict)

<class 'dict'>
{}

In [26]:
d1={1:("hello"),2:("world  to"),list:[1,2,3,4,85],6:{4:"KeyboardInterrupt"}}
print(d1)
del(d1)

{1: 'hello', 2: 'world  to', <class 'list'>: [1, 2, 3, 4, 85], 6: {4: 'KeyboardInterrupt'}}

In [17]:
d2={}
d2[10]="print"
d2

{10: 'print'}

In [1]:
d1={1:"python"}
d2=d1.copy()
d1.values()
print(d2)
print(d1)

{1: 'python'}
{1: 'python'}

In [1]:

a=5
b=4
a+=b
a

9

In [7]:
a=1
b=2
c=4

e=c+b/c/(b*c)
e

4.0625

In [10]:
# Precedence of 'or' & 'and'
name = "Alex" 
age = 0
if name == "Alex" or name == "John" and age >= 2:
    print("Hello! Welcome.") 
else:
    print("Good Bye!!")

Hello! Welcome.

In [20]:
if (1+2)>0:
    print("true")
print("an outside of if")

true
an outside of if

In [ ]:
l1=[1,2,3,4,5,6]
if